@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,600,600i,700,700i|Poppins:200,300,400,400i,500,600,700i&display=swap");
:root {
    --primary: #F15A24;
    --secondary: #FFF2EE;
    --blue: #29ABE2;
    --primary-background-color: #FBFCFF;
    --secondary-background-color: #13B8EA;
    --light-gray: #EFF4F7;
    --white: #ffffff;
    --orange: #F15A24;
    --text-color: #16303C;
    --quote-container-width: 604px;
    --quote-icon-width: 62px;
    --quote-icon-height: 52px;
    --avatar-height: 326px;
    --avatar-width: 326px;
    --avatar-margin-top: 95px;
    --header-margin-bottom: 200px;

}
body {
  margin: 0 0 50px 0 ;
  font-family:'Roboto', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-background-color);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.search-bar {
	max-width: 1000px;
	min-height: 104px;
	background-color: var(--secondary);
	border-radius: 3px 3px 0 0;
	margin-top: 50px;
}

.quote {
	border-width: 5px;
	border-color: var(--blue);
	border-style: dashed dashed solid solid;
	width: 100%;
	max-width: var(--quote-container-width);
}

.quote h3 {
	border-color: var(--blue);
	color: var(--blue);
	font-size: 36px;
	line-height: 200%;
	padding:  50px;
	text-align: center;
}

.expanded-row {
	padding:  80px 136px;
	width: 100%;
	background-color: var(--light-gray);
}

.header {
	height: calc(var(--avatar-margin-top) + (var(--avatar-height) / 2));
	background-image: url("http://localhost:3000/stripe.svg");
	background-repeat: repeat;
	overflow: visible;
	margin-bottom: var(--header-margin-bottom);
}

.header .avatar {
	background-color: var(--white);
	margin-top: var(--avatar-margin-top);
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,.22);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,.22);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,.22);
	height: var(--avatar-height);
	width: var(--avatar-width);
}

.header .avatar {
	overflow: visible;
}

.avatar img{
	object-fit: contain;
}

.MuiTabs-indicator {
	display: none;
}

button.tab {
	border: 1px solid var(--orange);
	background-color: var(--white);
	color:var(--orange);
	text-transform: none;
	font-size: 15px;
	opacity: 1;
}

button.tab.left {
	border-radius: 3px 0px 0px 3px;
}

button.tab.right {
	border-radius: 0px 3px 3px 0px;
}

button.tab.selected {
	background-color: var(--orange);
	color: var(--white);
}
.label {
	text-align: right;
}
button.submit {
	background-color: var(--orange);
	border-color: var(--orange);
	color: var(--white);;
	margin-left: 20px;
	height: 55px;
}

button.submit:hover {
	background-color: var(--white);
	border-color: var(--white);
	color:var(--orange);;
}

.input {
	background-color: var(--white);
}

tr, .expanded-row {
	cursor: pointer;
}

.quote-image {
	background-color: var(--white);
}

.expanded-row  .quote-image {
	background-color: var(--light-gray);
}

.quote-image.left {
    position: absolute;
    margin-top: calc((-1)*var(--quote-icon-height)/2);
    margin-left: calc((-1)*var(--quote-icon-width)/2);
}
.quote-image.right {
    position: absolute;
    margin-top: calc((-1)*var(--quote-icon-height)/2);
    margin-left: calc(var(--quote-container-width) - var(--quote-icon-width)/2);
    transform: rotate(180deg);
}

.random-quote {
    max-width: 800px;
    margin: 0 auto;
    padding: 100px;
    background-color: white;
}